
@tailwind base;
@tailwind components;
@tailwind utilities;
/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 700 */

@layer components{
  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #a5b4fc;
    width: 5px;
    border-radius: 10px;
  }

  .custom-scrollbar-dark::-webkit-scrollbar-thumb {
    background-color: #312e81;
  }
}

